<app-filter 
  [all]="totalProductCount" 
  [inStock]="totalProductInStock"  
  [outofStock]="totalProductOutOfStock"
  (selectedFilterRadioButtonChanged) = "onFilterChange($event)">
</app-filter>
<div class="clickandpick--products--container">
  <ng-container  *ngFor="let prod of product; let i = index" >
    <app-product 
      [product]="prod" 
      *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)" 
      (click)="selectedProduct = prod">
    </app-product>
  </ng-container>
</div>